<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings>
		<add name="ChapeauDatabase" connectionString="Data Source=den1.mssql7.gear.host;
         Initial Catalog=dbchapeau202109; User=dbchapeau202109; Password=Mb8iX12_Bc?W"/>
	</connectionStrings>
</configuration>
